<%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>

<html>
  <body>
    <h1>Standard Header</h1>
    <p>
      <p>Put things in the header</p>
      <a href='me.html'>Me</a>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <%= link_to('link to google', 'http://google.com') %>
    </div>
  </body>
</html> 